*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

html,body{
  height:100%;
  width:100%;
  font-family: Arial, sans-serif;
}
button{
  font-size: 30px;
  padding: 10px 20px;
  border-radius: 20px;
  border: none;
  background-color: #2f03cd;
  color: white;
  margin: 20px;
}
.all-users{
  display: flex;
  flex-wrap:wrap;
}
.usercard{
  height: 350px;
  width: 400px;
  padding: 15px 25px;
  color: white;
  margin: 10px;
  position: relative;
}
.usercard h2{
  font-size: 40px;
  padding: 10px;
}
.usercard h3{
  font-size: 20px;
  padding: 0 20px 10px 10px;
  opacity: 0.8;
  
}
.usercard p{
  position: absolute;
  left: 5%;
  bottom: 5%;
  font-size: 15px;
  padding: 10px;
}